/Index
/Cache
/Local
/Packages/User/ehthumbs.db
/Packages/User/oscrypto-ca-bundle.crt
/Packages/User/SyncSettings.sublime-settings
/Packages/User/Package Control.cache
/Packages/User/Package Control.last-run
/Packages/User/Package Control.merged-ca-bundle
/Packages/User/Package Control.system-ca-bundle
/Packages/User/Package Control.user-ca-bundle
/Packages/User/Package Control.cache
/Packages/User/Preferences.sublime-settings.*.bak
/Projects
